body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    width:765px;
    justify-self:  center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
}
h1 {
    letter-spacing: 1px;
    opacity: 79%;
    text-align: center;
        font-family: 'Playfair Display';
            text-transform: uppercase;
                font-size: 1.92rem;
                    font-weight: 600;
}
h2 {
    opacity: 80%;
        font-family: 'Playfair Display';
                font-size: 1.4rem;
                    font-weight: 700;
                    text-decoration-line:underline;
    margin-top: 20px;}
p {
    font-family: Roboto;
    text-indent: 1rem;
    font-weight: 400;
    word-spacing: 5px;
    line-height: 1.7;
}
a {
    color:blue;
    text-decoration: none ;
}
a:hover {
    color:blue;
    text-decoration: none ;
}
blockquote {
    background: #eee;
    padding: 10px 20px;
    border-left: 5px solid #0077cc;
    margin: 20px 0;
    font-family: Montserrat;
    font-style:italic;
    word-spacing: 20px;
    line-height: 1.7;
}
ul {
    padding-left: 20px;
    line-height: 1.7;
}
li span{
    font-weight: 600;
}
pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color:white;
    line-height: 1.7;
}

.article--text-styles span {

    background-color: transparent;
    font-weight: 400;
}

.highlight {
    background-color: yellow;
}
#zach_text{
    text-decoration: line-through;

}
#text_up{
    text-transform: uppercase;


}
#text_width{
    letter-spacing: 2px;

}